$color_border_light: rgb(196, 196, 196);
$color_border_lighter: rgb(220, 224, 224);
$color_button_default: rgb(1, 122, 135);
$color_button_default_hover: rgb(2, 154, 171);
$color_button_default_active: rgb(1, 79, 88);

$text_color_normal: rgb(86, 90, 92);

$h1: 3rem;
$h4: 1.4rem;
$h6: 1rem;
//vars
$default-height: 30px;
